/*Rules*/
.prule {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 45px;
    background-color: #000;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;

}

/*Start Screen*/
body {
    background-color: black;
}

.headfont {
    text-align: center;
    font-size: 45px;
    font-family: 'Quicksand', sans-serif;
    color: white;
    letter-spacing: 3px;
    font-weight: 500;
    margin-top: 10%;
}


.startingbuttons1 {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 45px;
    background-color: #000;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    border: 1px black solid;
    padding: 5px;

}

.startingbuttons1:hover {
    border-color: white;
}

.startingbuttons2 {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 45px;
    background-color: #000;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    border: 1px black solid;
    padding: 5px;

}

.startingbuttons2:hover {
    border-color: white;
}

/*End Start Screen*/
/*page 2*/
.page2a {
    display: none;
}
.page2b {
    display: none;
}
.page2c {
    display: none;
}
.page2dchoice {
    display: none;
    }

.page2buttons {
    display: none;

}
.checkyourpockets {  text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 35px;
    background-color: #000;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    border: 1px black solid;
    padding: 5px;

}
.checkyourpockets:hover {
    border-color: white;
}
.gobacktosleep {
     text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 35px;
    background-color: #000;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    border: 1px black solid;
    padding: 5px;
}
.gobacktosleep:hover {
    border-color: white;
}
/*page 3*/
.page3a-1 {
    display: none;
}
.page3b-1choices {
    display:none;
}
/*page3b-1buttons*/
.lightmatches {
     text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 25px;
    background-color: #000;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    border: 1px black solid;
    padding: 5px;
}
.lightmatches:hover {
    border-color: white;
}

.eattrailmix{
     text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 25px;
    background-color: #000;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    border: 1px black solid;
    padding: 5px;
}
.eattrailmix:hover {
    border-color: white;
}

.checkknife {
     text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 25px;
    background-color: #000;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    border: 1px black solid;
    padding: 5px;
}
.checkknife:hover {
    border-color: white;
}

.page4a-lightmatches {
    display: none;
}
.walldeath {
    display:none;
}
.eattrailmixend {
    display: none;
}
.caretoshare { 
    display: none;
}
.youtooktolong {
    display: none;
}
.gottolovebeinglate {
    display: none;
}
.latemuch {
    display:none;
}
.youdied3yearsago {
    display:none;
}
.sleepagain {
     text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 25px;
    background-color: #000;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    border: 1px black solid;
    padding: 5px;
}
.sleepagain:hover {
    border-color: white;
}
.tryagain {
     text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 25px;
    background-color: #000;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    border: 1px black solid;
    padding: 5px;
}
.tryagain:hover {
    border-color: white;
}
/*Deaths or Ends*/
.death { display:none;
}
.wake { display:none;
}