/*Rules*/
.prule {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 45px;
    background-color: #000;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;

}

/*Start Screen*/
body {
    background-color: black;
}

.headfont {
    text-align: center;
    font-size: 45px;
    font-family: 'Quicksand', sans-serif;
    color: white;
    letter-spacing: 3px;
    font-weight: 500;
    margin-top: 10%;
}


.startingbuttons1 {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 45px;
    background-color: #000;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    border: 1px black solid;
    padding: 5px;

}

.startingbuttons1:hover {
    border-color: white;
}

.startingbuttons2 {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 45px;
    background-color: #000;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    border: 1px black solid;
    padding: 5px;

}

.startingbuttons2:hover {
    border-color: white;
}

/*End Start Screen*/
/*page 2*/
.page2a {
    display: none;
}
.page2b {
    display: none;
}